<div class="main">
  <div #main class="draggable-content" (drop)="onDrop($event, main)" (dragover)="allowDrop($event)">
    <div *ngFor="let elem of elements; index as i; trackBy: trackById" id="drag{{i}}" (dragstart)="onDrag($event)" draggable="true" class="draggable"></div>
  </div>
</div>
<div class="aside">
  <div class="drop-container">
    <div id="div1" #div1 (drop)="onDrop($event, div1)" (dragover)="allowDrop($event)" class="drag-box"></div>
    <div id="div2" #div2 (drop)="onDrop($event, div2)" (dragover)="allowDrop($event)" class="drag-box"></div>
    <div id="div3" #div3 (drop)="onDrop($event, div3)" (dragover)="allowDrop($event)" class="drag-box"></div>
  </div>
</div>