<div class="main">
  <div class="draggable-content" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
    <div id="drag1" (dragstart)="drag($event, dragData)" draggable="true" class="draggable"></div>
    <div id="drag2" (dragstart)="drag($event, dragData)" draggable="true" class="draggable"></div>
    <div id="drag3" (dragstart)="drag($event, dragData)" draggable="true" class="draggable"></div>
    <div id="drag4" (dragstart)="drag($event, dragData)" draggable="true" class="draggable"></div>
    <div id="drag5" (dragstart)="drag($event, dragData)" draggable="true" class="draggable"></div>
    <div id="drag6" (dragstart)="drag($event, dragData)" draggable="true" class="draggable"></div>
  </div>
</div>
<div class="aside">
  <div class="drop-container">
    <div id="div1" (drop)="onDrop($event)" (dragover)="allowDrop($event)" class="drag-box"></div>
    <div id="div2" (drop)="onDrop($event)" (dragover)="allowDrop($event)" class="drag-box"></div>
    <div id="div3" (drop)="onDrop($event)" (dragover)="allowDrop($event)" class="drag-box"></div>
  </div>
</div>